html {
  text-align: center;
  font-family: sans-serif;
  line-height: 1.6;
  color: #4a3828;
  background-color: #fff8e7;
}
body {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: #f6c945;
  corner-shape: round;
  color: #4a3828;
  border: #fff8e7;
  border-radius: 5px;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  font-family:
    "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: medium;
  cursor: pointer;
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
}

#hbd {
  font-weight: bold;
  font-size: 20px;
  line-height: 50px;
}
#firstsection {
  overflow: visible;
  position: relative;
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 500px;
  height: 200px;
  margin-right: auto;
  margin-left: auto;
  padding: 15px;
  border: 2px solid #f6c945;
  /*  background-color: #fffdf5; */
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
  border-radius: 15px;
}
#secondsection {
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 700px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px;
  border: 2px solid #f6c945;
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
  border-radius: 15px;
}
#thirdsection {
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 1000px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px;
  border: 2px solid #f6c945;
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
  border-radius: 15px;
}
#thirdsection img {
  width: 300px;
}
#fourthsection {
  opacity: 1;
  transition: opacity 0.5s ease;
  width: 500px;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  padding: 15px;
  border: 2px solid #f6c945;
  box-shadow: 1px 1px 10px rgba(74, 56, 40, 0.5);
  border-radius: 15px;
}
/*.hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
} */
#fourthsection img {
  filter: blur(50px);
  transition: filter 0.5s ease;
  width: 250px;
}
#fourthsection img:hover {
  transition-delay: 0.2s;
  filter: blur(0);
}
#sunflower {
  position: absolute;
  top: -30px;
  right: -20px;
  width: 10%;
  rotate: -35deg;
}
